dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
framework/Setup.hs
executables/lambda-wars-linux-64bit
framework/lambda-wars.cabal
executables/lambda-wars-macosx-64bit
executables/lambda-wars-windows-32bit.exe
framework/README.md
